body{
  padding-bottom: 0px;
  margin-bottom: -40px;
  margin-top:80px;
  font-size:16px;

}

h1,h2,h3,h4,h5,h6{
  font-family:Poppins;
}

p{
  font-family:Roboto;
}

/*Navigation*/
.navbar-default{
  background:#fff;
  border:0;
  font-family:Poppins;
  padding: 10px;
  margin-top: -80px;
  margin-bottom: 6px;
  position: sticky;  
}

.navbar-brand{
  font-size:24px;
  color:#2c2c2c !important;
  font-weight:bold;
}

.navbar-default li {
  list-style: none;
  background-color: white;
  opacity: 0.8;
  text-align: right;
}

/* Style links in nav bar */
.navbar-nav > li > a {
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
 
/* On hover show the menu drop down */
.navbar-nav > li:hover > .menu-content {
  display: none;
}

.navbar-nav > li:hover > .menu-content2 { 
  display: none;
}

.menu-content{
  display: none;
  /*border-top-width: thin;*/
}

.menu-content2{
display: none;
  /*border-top-width: thin;*/
}

.btn{
    font-size: 12px;
    color: #080808;
    padding: 6px 11px;
    margin-top: 7px;
    background: #fff;
    opacity: .7;
   /* border: 1px solid #FFF;*/
    text-transform: uppercase;
  }

/*Carousel*/
#myCarousel{

  max-height: 250px;
}

  .carousel-inner .item img 
  { 

    width: 100%; 
    overflow: hidden;
    object-fit: cover;
    height: 250px;
  }

/*About Me*/
#about{

  margin-bottom: 40px;
  margin-top: 20px;
}

#about h2{

font-size: 22px;
font-weight: bold;
color: black;
color: #2c2c2c; /*gray*/
border-bottom: 3px solid #2c2c2c;
border-spacing: 50px;
text-align: center;
margin-right: 10%;
margin-left: 10%;
padding-bottom: 5px;
  
}


#about .about-right{

  padding-top: 20px;
  font-size: 16px;
  text-align: center;
  color: #565656; /*body gray*/

}

#about .about-btn{

  margin-top: -40px;
  margin-left: 300px;
}


/*Living Abroad*/
#living h2 > a{
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  color: #2c2c2c;
}

#living h2 > a:hover{

  color: #565656;
}

.fan {

  text-align: center;
}

.fan span {
  display: inline-block;
  position: relative;  

}
.fan span:before,
.fan span:after {
  content: "";
  position: absolute;
  height: 3px;
  border-bottom: .5px solid black;
  border-top: .5px solid black;
  top: 12px;
  }

.fan span:before {
  right: 100%;
  margin-right: 2px;
  width: 60px
}
.fan span:after {
  
  left: 100%;
  margin-left: 2px;
  width: 60px
}

#living img{

  height:100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  object-fit: cover;

}

.living-title{

  text-transform: uppercase;
  font-size: 24px;
  padding-bottom: 5px;
  position: relative;
}

.living-block{
  
  display: inline-block;
  text-align: center;
  padding-bottom: 40px
}

.living-btn{
  margin-left: 50px;

}

.living-caption{
  color: black;

}

.living-caption-title{

  padding-top: 10px;

}

.title{
  padding-bottom: 10px;
  font-size: 18px;

}

.title > a{

  text-decoration: none;
  color: #555;
  text-transform: uppercase;
  font-size: 18px;
  margin:0;
  

}

.living-caption-title > a:hover{

  color: #45494d;
}

/*Travel*/

#travel{
  
  padding-bottom: 10%;
}

#travel img{

  height:100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  object-fit: cover;
}

.travel-right{

  text-align: center;

}

#travel h2 > a:hover{

  color: #565656;
}

#culture h2 > a:hover{

  color: #565656;
}


#travel h2 > a{
  text-transform: uppercase;
  font-size: 24px;
  color: #2c2c2c; 
  padding-bottom: 40px;
}

.travel-title{

  text-transform: uppercase;
  margin:0px;
  font-size: 18px;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}

.travel-title > a{
  font-size: 18px;
}


.fan-travel span {
  display: inline-block;
  position: relative; 
  text-align: center;

}
.fan-travel span:before,
.fan-travel span:after {
  content: "";
  position: absolute;
  height: 3px;
  border-bottom: .5px solid black;
  border-top: .5px solid black;
  top: 12px;
  
}
.fan-travel span:before {
  right: 100%;
  margin-right: 2px;
  width: 110px;
}
.fan-travel span:after {
  left: 100%;
  margin-left: 2px;
  width: 110px;
}


.travel-left{

  margin-top: 10px;
}

.travel-right{

  margin-top: 10px;
  
}

/*Culture*/

#culture h2 > a{
  
  text-transform: uppercase;
  font-size: 24px;
  color: #2c2c2c;
  padding-bottom: 40px;

}
.fan-culture span {
  display: inline-block;
  position: relative;  
}
.fan-culture span:before,
.fan-culture span:after {
  content: "";
  position: absolute;
  height: 3px;
  border-bottom: .5px solid black;
  border-top: .5px solid black;
  top: 12px;
  
}
.fan-culture span:before {
  right: 100%;
  margin-right: 2px;
  width: 100px;
}
.fan-culture span:after {
  left: 100%;
  margin-left: 2px;
  width: 100px;
}

#culture h2{
  text-align: center;
}

#culture img{

  height:100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  object-fit: cover;

}


/*Footer*/
.background{

  background: url(../img/sl/12.jpg);
  position: relative;
  background-size: cover;
  background-position: center center;
  height: 200px;
}

.layer{

  background-color: black;
  height: 200px;
  width: 100%;
  opacity: .7;
  position: absolute;
}

footer p{

  padding-left: 5%;
  padding-right: 5%;
  position: absolute;
}

footer{
  
  height: 200px;
  margin-bottom: -40px !important;
  color: white;

}

.social-btn{

  margin-top: 30px;

  
}

.ft{

padding-top: 10px;

}

.form-group{
  display: none;
}

.social{

  margin-left: 35%;
  margin-right: 35%;
  padding-top: 70px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 50px;
    display:none;
    background-color: white;
    color: black;
}
