body{
  padding-bottom: 0px;
  margin-bottom: -40px;
  margin-top:80px;
  font-size:16px;

}

h1,h2,h3,h4,h5,h6{
  font-family:Poppins;
}

p{
  font-family:Roboto;
}

.navbar-default{
  background:#fff;
  border:0;
  font-family:Poppins;
  padding: 10px;
  margin-top: -80px;
  margin-bottom: 6px;
  position: sticky;
  

  
}

.navbar-brand{
  font-size:24px;
  color:#2c2c2c !important;
  font-weight:bold;

}

.navbar-default li {
  list-style: none;
  background-color: white;
  opacity: 0.8;
  text-align: right;

}


/* Style links in nav bar */
.navbar-nav > li > a {
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
 

 
/* On hover show the menu drop down */
.navbar-nav > li:hover > .menu-content {
  display: none;
}

.navbar-nav > li:hover > .menu-content2 {
  
  display: none;

}

.menu-content{

  display: none;
 
  /*border-top-width: thin;*/
}

.menu-content2{
display: none;
 
  /*border-top-width: thin;*/
}

.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 3px;
  border-bottom: .5px solid white;
  border-top: .5px solid white;
  top: 12px;
  
}
.fancy span:before {
  right: 100%;
  margin-right: 8px;
  width: 304px;
}
.fancy span:after {
  left: 100%;
  margin-left: 8px;
  width: 304px;
}


.caption-title{
  display: table-caption;
  font-size: 16px;
  width: 230px;
  padding-top: 10px;
  padding-left: 8px;
  margin:0;
  color: #3590CB;
}


.caption-title > a{

  text-decoration: none;
  color: #3590CB;
  text-transform: uppercase;

}

.caption-title > a:hover{

  color: #f4ef71;
}

  .btn{
    font-size: 12px;
    color: #FFF;
    padding: 6px 11px;
    margin-top: 7px;
    background: #3590CB;
    opacity: .7;
   /* border: 1px solid #FFF;*/
    text-transform: uppercase;
    font-weight: bold;
  }

#myCarousel{

  max-height: 400px;
}

  .carousel-inner .item img 
  { 

    width: 100%; 
    overflow: hidden;
    object-fit: cover;
    height: 400px;
  }


#about{

  margin-bottom: 40px;
  margin-top: 20px;
}

#about h2{

font-size: 28px;
font-weight: bold;
color: black;
color: #2c2c2c; /*gray*/
text-align: center;
  
  
}


#about .about-left{
  
  
  border-bottom: 3px solid #2c2c2c;
  border-spacing: 50px;
  padding-top:10px;
  margin-right: 100px;
  margin-left: 100px;




}

#about .about-right{

  padding-top: 20px;
  font-size: 16px;
  text-align: center;
  color: #565656; /*body gray*/

}

#about .about-btn{

  margin-top: -40px;
  margin-left: 300px;
}


#living img{

  
  height:300px;
  width: 500px;
  padding-left: 10px;
  padding-top: 20px;
  object-fit: cover;

}

.living-block{
  margin: 0;
  display: inline-block;
  text-align: center;
}

.hehe{
  color: #565656;
}

.living-btn{
  margin-left: 50px;

}

.living-caption{
  color: black;

}

.living-caption-title{

  padding-top: 10px;
}

.living-caption-title > a{

  text-decoration: none;
  color: #3590cb;
  text-transform: uppercase;
  font-size: 18px;
  margin:0;
  font-weight: bold;
  


}

.living-caption-title > a:hover{

  color: #45494d;
}


#travel{
  padding-top:30px;
  padding-bottom: 30px;

  

}

#travel img{

  
  max-height:300px;
  max-width: 500px;
  margin-left: 115px;
  

}

.travel-right{

  text-align: center;

}


/*#culture{
  background:url(../img/image3.png);
  padding:40px;
  color:#fff;
  border-top:#333 7px solid;
  border-bottom:#333 7px solid;
}*/

#living h2 > a{

  padding-left: 190px;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  color: #2c2c2c;
  padding-bottom: 30px;

 
}

#living h2{
  padding-bottom: 5px;
}

#living h2 > a:hover{

  color: #565656;
}

#travel h2 > a:hover{

  color: #565656;
}

#culture h2 > a:hover{

  color: #565656;
}

.fan span {
  display: inline-block;
  position: relative;  

}
.fan span:before,
.fan span:after {
  content: "";
  position: absolute;
  height: 3px;
  border-bottom: .5px solid black;
  border-top: .5px solid black;
  top: 12px;
  }
  .fan span:before {
  right: 100%;
  margin-right: 8px;
  width: 260px;
}
.fan span:after {
  left: 100%;
  margin-left: 8px;
  width: 300px;
}


#travel h2 > a{

  padding-left: 210px;
  text-transform: uppercase;
  font-size: 24px;
  color: #2c2c2c; 
  padding-bottom: 40px;

}

#travel h2{
  padding-bottom: 30px;

}

.travel-title{

  text-transform: uppercase;
  margin:0px;
  padding-left:100px;
  font-size: 24px;
  padding-top: -100px;
  padding-bottom: 5px;
  position: relative;
}


.fan-travel span {
  display: inline-block;
  position: relative;  
}
.fan-travel span:before,
.fan-travel span:after {
  content: "";
  position: absolute;
  height: 3px;
  border-bottom: .5px solid black;
  border-top: .5px solid black;
  top: 12px;
  
}
.fan-travel span:before {
  right: 100%;
  margin-right: 8px;
  width: 260px;
}
.fan-travel span:after {
  left: 100%;
  margin-left: 8px;
  width: 300px;
}

.living-title{

  text-transform: uppercase;
  margin-right:500px;
  padding-left:100px;
  font-size: 24px;
  padding-top: -100px;
  padding-bottom: 5px;
  position: relative;
}



.travel-left{

  margin-top: 10px;
}

.travel-right{

  margin-top: 10px;
  margin-left: 30px;
}

#culture{

  padding-bottom: 80px;
}

#culture h2 > a{

  padding-left: 220px;
  text-transform: uppercase;
  font-size: 24px;
  color: #2c2c2c;
  padding-bottom: 40px;

 
}
.fan-culture span {
  display: inline-block;
  position: relative;  
}
.fan-culture span:before,
.fan-culture span:after {
  content: "";
  position: absolute;
  height: 3px;
  border-bottom: .5px solid black;
  border-top: .5px solid black;
  top: 12px;
  
}
.fan-culture span:before {
  right: 100%;
  margin-right: 8px;
  width: 280px;
}
.fan-culture span:after {
  left: 100%;
  margin-left: 8px;
  width: 260px;
}

#culture h2{
  padding-bottom: 20px;
}

#culture img{

  
  height:300px;
  width: 500px;
  padding-left: 10px;
  padding-top: 20px;
  object-fit: cover;

}

.background{

  background: url(../img/sl/12.jpg);
  position: relative;
  background-size: cover;
  background-position: center center;
  height: 250px;
}

.layer{

  background-color: black;
  height: 250px;
  width: 100%;
  opacity: .7;
  position: absolute;
}

footer p{

  padding-left: 200px;
  padding-top: 30px;
  position: absolute;
}

footer{
  
  height: 250px;
  margin-bottom: -40px !important;
  color: white;

}

.social-btn{

  margin-top: 30px;
  margin-left: 300px;
}

.ft{
  padding-top: 15px;
}

.form-group{

  /*margin-top: 100px;
  margin-left: 130px;*/

  visibility: hidden;
  margin-left: 300px;
  padding-right: 260px;
  margin-top: 40px;

}

.btn-form{

  
  visibility: hidden;
  margin-top: -40px;
  margin-left: 400px;
}


label{

  font-size: 14px;

}


